#title {
    font-size: 40px;
}

#description {
    font-size: 17px;
}

@media only screen and (min-width: 769px) {
    #about #title {
        background-image: url('../img/title.svg');
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    #about #description {
        background-image: url('../img/text.svg');
        background-size: cover;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
}
@media only screen and (min-width: 577px) {
    #about .social {
        width: 300px;
    }
}
@media only screen and (max-width: 576px) {
    #about .social {
        width: 60%;
    }
}