.text-left {
    color: var(--text-left-color);
}
.text-right {
    color: var(--text-right-color);
}

.o-title {
    font-size: 30px;
}

.o-level {
    font-size: 20px;
}

.option:hover {
    cursor: pointer;
}

.option:nth-child(n+2) {
    opacity: 50%;
}

#skills {
    overflow: hidden;
}

#s-list {
    height: 15vh;
    width: 300%;
    position: relative;
    right: 0;
    transition: .5s;
}

#s-list ul {
    list-style-type: none;
}

#s-selector {
    height: 4vh;
}

.project {
    height: 75px;
    border: 2px solid;
}
.github-link {
    height: 130px;
}

.github-link::-webkit-scrollbar {
    display: none;
}
.github-link {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.project:hover {
    cursor: pointer;
}

.github-link i {
    font-size: 1.5rem;
}

.p-tag {
    bottom: 15px;
}

.p-description {
    font-size: 12px;
}

@media only screen and (min-width: 769px) {
    #projects p, .p-tag, .redirect, #projects i {
        color: black;
    }
    .p-tag {
        background: white;
    }
    .project {
        border-color: black;
        box-shadow: 3px 3px 4px var(--text-left-color);
    }
}